* {
  margin: 0;
  padding: 0;
}









.question {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 5px;
}

.question:hover {
  background: rgb(0, 205, 0);
}

.answer {
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
}