* {
  margin: 0;
  padding: 0;
}






.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


.question {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 5px;
}

.question:hover {
  background: rgb(0, 205, 0);
}

.answer {
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
}


.walk-anim {
  animation: walk 0.5s infinite alternate linear;
}

@keyframes walk {
  0%{
    rotate: 5deg;
    transform: translateY(5px);
  }
  50%{
    rotate: 0deg;
    transform: translateY(0px);
  }
  100%{
    rotate: -5deg;
    transform: translateY(5px);
  }
}